<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="projects"></ion-back-button>
    </ion-buttons>
    <ion-buttons size="large" shape="round" color="medium" slot="end">
    </ion-buttons>
    <ion-title>Pre Assets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="grid-container">
    <div *ngFor="let photo of photoService.prePhotos; index as position" class="col col-25 item-remove-animate"
    (click)="presentImage(photo)">
      <ion-thumbnail>
        <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}">
        </ion-img>
      </ion-thumbnail>
    </div>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery('pre')">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>