<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="projects"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          {{project.id}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{project.projectname}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{project.market}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          {{project.siteid}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{project.sitename}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{project.contractor}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          {{project.startdate}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{project.installation}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{project.onsitetech}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          {{project.additionalnotes}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{project.sourcelogopath}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{project.targetlogopath}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="project-overview">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-icon name="paper" style="zoom:1.6;"></ion-icon>
      <ion-label>Project</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pre-assets">
      <ion-icon name="images" style="zoom:1.6;"></ion-icon>
      <ion-label>Pre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="post-assets">
      <ion-icon name="images" style="zoom:1.6;"></ion-icon>
      <ion-label>Post</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
