.my-custom-class {
    --background: #222;
}
ion-item {
  --border-style: none !important;
}
.mar-top5 {
    margin-top: 5%;
}
ion-card {
  border-radius: 30px !important;
  margin-bottom: 16px !important;
}
ion-label {
  white-space: unset !important;
}