<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
    	Project Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
