<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/icon/marketing.png" class="about-logo">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>COP Survey Report</strong></ion-text>
      </h1>
      
      <p class="para">
        Developed By codenextzen.com
        reach us at: codenextzen@gmail.com
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
