:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
}

.about-logo {
    width: 30%;
    height: 40%;
    margin: 20px auto 8px;
    border-radius: 10%;
    background-size: 100%;
  }

.para {
    margin-top: 5%;
    margin-bottom: 5%;
}