<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="projects"></ion-back-button>
    </ion-buttons>
    <ion-title>Post Assets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
