<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="assets/img/avatar.png">
      <h1 class="fw500">{{userDetail.username}}</h1>
    </ion-card-content>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>
          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">User Details</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label color="dark" position="stacked">Name:</ion-label>
              <ion-input inputmode="text" placeholder="Ex..: Joe Doe" value="{{userDetail.username}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: joe@doe.com" value="{{userDetail.email}}"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>